.first-div{
    float: left;
    width: 50%;
    background-color: antiquewhite;
    margin: 5% 0% 0% 20%;
}
.first-div h1{
    text-align: center;
    font-size: 40px;
}
.first-div input,.first-div select{
    float: left;
    width: 25%;
    margin: 0% 0% 2% 6%;
    padding: 0.5% 0% 0.5% 0%;
}
.first-div button{
    float: left;
    width: 20%;
    font-size: 20px;
    margin: 0% 0% 2% 38%;
}
.output-div{
    float: left;
    width: 30%;
    margin: 2% 0% 0% 25%; 
    text-align: center;
}
.login-div{
    float: left;
    width: 50%;
    background-color: coral;
    margin: 10% 0% 0% 20%;
}
.login-div input{
    float: left;
    width: 80%;
    margin: 3% 0% 1% 10%;
    font-size: 20px;
}
.login-div button{
    float: left;
    width: 40%;
    margin: 1% 0% 2% 35%;
    font-size: 15px;
}
.login-div input:focus{
    background-color: whitesmoke ;
}
.login-div button:hover{
    box-shadow: 10px 10px 10px black;
}